@model User
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(model=>model.UserName)
        <div>
            @Html.EditorFor(model => model.UserName)
        </div>
    </div>

    <div>
        @Html.LabelFor(model=>model.Password)
        <div>
            @Html.EditorFor(model => model.Password ,new { htmlAttributes = new { type = "password" }})
        </div>
    </div>
    <input type="submit" value="Login" formaction="@Url.Action("Login" , "Login")" formmethod="post" />
}

